.Messages{
    width: 100%;
}
.messages_tools{
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-bottom: 30px;
}



/*========= список друзей =========== */
.message{
    padding: 8px 20px; 
    background: var(--element);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 20px;
}
.message_link{
    text-decoration: none;
    cursor: pointer;
}
.message_one{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.message_avatar{
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}
.message_avatar_img{
    width: 100%;
    object-fit: cover;
}
.message_data{
    margin: auto 0;
}
.message_name{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.message_chat_lately{
    font-size: 19px;
    margin: 0;
    color: var(--accent);
}
.message_date_number{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}
.message_date, .message_number{
    font-size: 19px;
    margin: 0;
}



/*======= адаптив ==========*/
@media (max-width: 768px) {
    .message_avatar {
        max-width: 50px;
        height: 50px;
    }
    .message_name {
        font-size: 19px;
    }
    .message_chat_lately {
        font-size: 17px;
    }
    .message_date, .message_number {
        font-size: 17px;
    }
}

@media (max-width: 590px) {
.message {
    padding: 5px 15px;
    margin-bottom: 15px;
}
.message_date, .message_number {
    font-size: 14px;
}
.message_date_number {
    justify-content: space-between;
}
.message_one {
    gap: 12px;
}
}

@media (max-width: 520px) {
    .message_chat_lately{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .message_name {
        font-size: 17px;
        margin: 0 0 3px 0;
    }
    .message_avatar {
        max-width: 40px;
        height: 40px;
    }
    .message {
        padding: 5px 10px;
        margin-bottom: 12px;
    }
    .message_number{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80px;
        font-size: 13px;
    }
    .message_date {
        font-size: 13px;
    }
}