.Screensaver{
    width: 100%;
    margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.sc_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc_logo{
    width: 100%;
    max-width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sc_logo_img{
    width: 100%;
}

.sc_logo_title{
    font-family: "Iceberg";
    font-size: 44px;
    font-weight: normal;
    margin: 20px 0 0 0;
}
.sc_text{
    font-size: 26px;
    margin: 30px 0;
    text-align: center;
}
.sc_text_logo{
    font-family: "Iceberg";
    font-weight: normal;
}



/* ======= адаптив ========= */
@media (max-width: 450px){
    .sc_logo{
    max-width: 200px;
}
.sc_logo_title{
    font-size: 35px;
}
.sc_text{
    font-size: 22px;
}
}

@media (max-width: 360px){
    .sc_logo{
    max-width: 130px;
}
.sc_logo_title{
    font-size: 32px;
}
.sc_text{
    font-size: 21px;
}
}